In [4]:
import pandas as pd

In [20]:
results = pd.read_csv('results_predictions-00000-of-00001.csv', header=None, names=['predicted' , 'actual'])

In [21]:
results

    predicted  actual
0           1       1
1           1       1
2           1       1
3           1       1
4           1       1
..        ...     ...
62          0       0
63          0       1
64          0       0
65          0       0
66          0       0

[67 rows x 2 columns]