In [68]:
from sklearn.svm import SVR
import pandas as pd
import numpy as np

In [69]:
df = pd.read_json('forestfires')
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [70]:
dftest= df.values

In [71]:
X = dftest[:, 0:8]
Y = dftest[:, 8]

In [72]:
X

array([[7, 5, 'mar', ..., 26.2, 94.3, 5.1],
       [7, 4, 'oct', ..., 35.4, 669.1, 6.7],
       [7, 4, 'oct', ..., 43.7, 686.9, 6.7],
       ...,
       [7, 4, 'aug', ..., 56.7, 665.6, 1.9],
       [1, 4, 'aug', ..., 146.0, 614.7, 11.3],
       [6, 3, 'nov', ..., 3.0, 106.7, 1.1]], dtype=object)

In [73]:
Y

array([8.2, 18.0, 14.6, 8.3, 11.4, 22.2, 24.1, 8.0, 13.1, 22.8, 17.8,
       19.3, 17.0, 21.3, 26.4, 22.9, 15.1, 16.7, 15.9, 9.3, 18.3, 19.1,
       21.0, 19.5, 23.7, 16.3, 19.0, 19.4, 30.2, 22.8, 25.4, 11.2, 20.6,
       17.7, 21.2, 18.2, 21.7, 11.3, 17.8, 14.1, 23.3, 18.4, 16.6, 19.6,
       12.9, 25.9, 14.7, 23.0, 11.8, 11.0, 20.8, 21.5, 20.4, 20.4, 17.6,
       27.7, 17.8, 13.8, 13.9, 12.3, 11.5, 5.5, 18.8, 20.8, 23.1, 18.6,
       23.0, 19.6, 19.6, 17.2, 15.8, 17.7, 15.6, 17.3, 27.6, 6.7, 15.7,
       8.3, 14.7, 21.6, 19.5, 17.9, 18.6, 16.6, 20.2, 21.5, 25.4, 22.4,
       25.3, 17.4, 14.7, 17.4, 20.8, 18.2, 23.4, 17.8, 12.7, 17.4, 11.6,
       19.8, 19.8, 14.4, 20.1, 24.1, 5.3, 12.7, 18.2, 21.4, 20.3, 17.4,
       13.7, 18.8, 22.8, 18.9, 15.8, 15.5, 11.6, 15.2, 10.6, 19.6, 10.3,
       17.1, 22.5, 17.9, 19.8, 20.6, 9.0, 17.2, 15.9, 15.4, 15.4, 14.0,
       10.6, 17.6, 14.9, 17.6, 17.2, 15.6, 18.0, 21.7, 21.9, 23.3, 21.2,
       16.6, 23.8, 27.4, 13.2, 24.2, 17.4, 23.7, 23.2, 24.8, 24.6, 20.1,
       29.6, 16.4, 28.6, 18.4, 20.5, 19.0, 16.1, 20.3, 15.2, 17.8, 17.8,
       5.3, 16.6, 23.4, 14.6, 20.7, 21.9, 17.4, 20.1, 17.7, 14.2, 20.3,
       5.8, 19.2, 18.3, 14.4, 23.9, 19.1, 12.4, 16.8, 20.8, 17.6, 11.5,
       21.0, 13.3, 11.5, 11.7, 24.2, 24.6, 24.3, 24.6, 23.5, 5.8, 21.5,
       13.9, 22.6, 21.6, 12.4, 8.8, 20.2, 15.1, 22.1, 22.9, 20.7, 19.6,
       23.2, 18.4, 5.1, 20.1, 11.0, 17.0, 17.0, 16.9, 12.4, 19.4, 15.2,
       16.2, 18.6, 11.0, 13.4, 15.4, 22.9, 16.1, 20.1, 28.3, 16.4, 26.4,
       27.8, 18.7, 24.3, 17.7, 19.6, 18.2, 18.8, 25.1, 13.4, 15.2, 16.7,
       15.4, 21.9, 22.4, 26.8, 25.7, 20.7, 28.7, 21.7, 26.8, 24.0, 22.1,
       21.4, 18.9, 22.3, 23.9, 21.4, 20.6, 23.7, 28.3, 11.2, 21.4, 19.3,
       21.8, 22.1, 19.4, 23.7, 21.0, 19.1, 21.8, 20.1, 20.2, 4.8, 5.1,
       5.1, 4.6, 4.6, 4.6, 4.6, 2.2, 5.1, 4.2, 8.8, 7.5, 23.4, 12.6, 22.1,
       24.2, 24.3, 18.7, 25.3, 22.9, 26.9, 17.1, 22.2, 14.3, 15.4, 19.6,
       10.6, 20.7, 19.1, 19.2, 19.2, 11.3, 19.0, 17.1, 23.8, 16.0, 24.9,
       25.3, 24.8, 12.2, 24.3, 19.7, 18.5, 18.6, 19.2, 21.6, 21.6, 18.9,
       16.8, 16.8, 12.9, 13.7, 24.2, 24.1, 21.2, 19.7, 23.5, 24.2, 21.5,
       17.1, 18.1, 18.0, 9.8, 19.3, 23.0, 22.7, 20.4, 19.3, 15.7, 20.6,
       15.9, 12.2, 16.8, 21.3, 10.1, 17.4, 12.8, 10.1, 15.4, 20.6, 19.8,
       18.7, 20.8, 20.8, 15.9, 19.7, 21.1, 18.4, 17.3, 15.2, 15.9, 21.1,
       19.6, 15.9, 16.4, 16.8, 13.8, 13.8, 14.2, 10.4, 20.3, 10.3, 15.4,
       21.1, 21.9, 8.7, 5.2, 19.3, 16.2, 28.2, 20.5, 21.3, 20.9, 20.6,
       11.6, 23.3, 23.3, 7.5, 20.7, 21.9, 15.2, 5.3, 10.1, 20.4, 24.3,
       25.9, 28.0, 28.0, 22.8, 25.0, 21.3, 21.8, 27.9, 17.0, 14.2, 19.9,
       23.4, 14.7, 8.2, 22.8, 26.4, 24.1, 27.5, 26.3, 13.8, 24.9, 24.8,
       26.2, 30.8, 29.3, 22.3, 26.9, 20.4, 20.4, 27.9, 26.2, 24.6, 19.4,
       23.3, 23.9, 20.9, 22.2, 23.8, 26.8, 14.2, 23.6, 19.1, 16.2, 25.5,
       10.9, 14.8, 16.2, 17.3, 19.1, 8.9, 10.5, 19.3, 23.4, 11.8, 17.7,
       17.4, 16.8, 17.9, 16.6, 19.9, 18.9, 15.5, 18.9, 18.9, 14.5, 4.6,
       5.1, 4.6, 10.2, 11.2, 13.3, 13.7, 17.6, 18.0, 14.3, 24.5, 26.4,
       22.7, 27.2, 26.1, 18.2, 22.6, 30.2, 30.2, 23.4, 31.0, 33.1, 30.6,
       24.1, 26.4, 19.4, 20.6, 28.7, 32.4, 32.4, 27.5, 30.8, 23.9, 32.6,
       32.3, 33.3, 27.3, 21.6, 21.6, 20.7, 29.2, 28.9, 26.7, 18.5, 25.9,
       25.9, 21.1, 18.2, 27.8, 27.8, 21.9, 21.2, 25.6, 11.8], dtype=object)

In [74]:
def loadcsv(df): 
    
    #Convert the categorical data into binary values
    df_bin = df.join(pd.get_dummies(df.pop('day'))) 
    df_bin = df_bin.join(pd.get_dummies(df_bin.pop('month')))
    df_bin.pop('sun')
    df_bin.pop('dec')
#     df_bin = df_bin[df_bin['area'] < 3.2]  
    # df_bin.loc[df.area > 0, 'area']= 1
    #Return the database
    return df_bin

In [76]:
df = loadcsv(df)

In [77]:
df['area']

0       0.00
1       0.00
2       0.00
3       0.00
4       0.00
       ...
512     6.44
513    54.29
514    11.16
515     0.00
516     0.00
Name: area, Length: 517, dtype: float64

In [78]:
clf = SVR()

In [82]:
y = df.pop('area')
X = df

KeyError: 'area'

In [83]:
print(X)

     X  Y  FFMC    DMC     DC   ISI  temp  RH  wind  rain  ...  aug  feb  jan  \
0    7  5  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0  ...    0    0    0
1    7  4  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0  ...    0    0    0
2    7  4  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0  ...    0    0    0
3    8  6  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2  ...    0    0    0
4    8  6  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0  ...    0    0    0
..  .. ..   ...    ...    ...   ...   ...  ..   ...   ...  ...  ...  ...  ...
512  4  3  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0  ...    1    0    0
513  2  4  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  ...    1    0    0
514  7  4  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  ...    1    0    0
515  1  4  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0  ...    1    0    0
516  6  3  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0  ...    0    0    0

     jul  jun  mar  may  nov  oct  sep
0      0    0    1    0    0    0    0
1      0    0    0    0    0    1    0
2      0    0    0    0    0    1    0
3      0    0    1    0    0    0    0
4      0    0    1    0    0    0    0
..   ...  ...  ...  ...  ...  ...  ...
512    0    0    0    0    0    0    0
513    0    0    0    0    0    0    0
514    0    0    0    0    0    0    0
515    0    0    0    0    0    0    0
516    0    0    0    0    1    0    0

[517 rows x 27 columns]

In [84]:
clf.fit(X,y)

clf.score(X,y)

-0.03615123111976004