In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from google.cloud import storage # save the model to GCS

In [2]:
# Data stored in GCP, bucket name: 'gold-price-prediction' van TawabG
# gold_dataset = pd.read_csv("gs://gold-price-prediction/gold_dataset.csv") 
gold_dataset = pd.read_csv('gold_dataset.csv')
gold_dataset.head()

,date,timestamp,metal,exchange,currency,price,prev_close_price,ch,chp
0,2020-01-01T10:30:00.000Z,1.577875e+12,XAU,LBMA,EUR,1355.7059,1355.7059,0.0000,0.0000
1,2020-01-02T10:30:00.000Z,1.577961e+12,XAU,LBMA,EUR,1358.4830,1360.6718,-2.1889,-0.1611
2,2020-01-03T10:30:00.000Z,1.578047e+12,XAU,LBMA,EUR,1388.1762,1364.0890,24.0872,1.7352
3,2020-01-04T10:30:00.000Z,1.578134e+12,XAU,LBMA,EUR,1388.1762,1388.1762,0.0000,0.0000
4,2020-01-05T10:30:00.000Z,1.578220e+12,XAU,LBMA,EUR,1388.1762,1388.1762,0.0000,0.0000

In [3]:
def pre_processing(gold_dataset):
    
    gold_dataset = gold_dataset.dropna()
    gold_dataset['date'] = pd.to_datetime(gold_dataset['date'], errors='coerce')
    gold_dataset['date'] = gold_dataset['date'].dt.date
    gold_dataset = gold_dataset.set_index('date')
    
    return gold_dataset

In [4]:
preprocessed_gold_dataset = pre_processing(gold_dataset)
preprocessed_gold_dataset['price'].std()

87.64811045891085

In [13]:
def create_features_dataframe(dataset):
    
    gold_features_df = pd.DataFrame()
    
    average_days_window_closing_price = [5, 30]
    for window in average_days_window_closing_price:
        gold_features_df['Mean__'+str(window)+'_days'] = dataset['price'].rolling(window).mean().shift(periods=1)
        gold_features_df['Std__'+str(window)+'_days'] = dataset['price'].rolling(window).std().shift(periods=1)
        gold_features_df['Max__'+str(window)+'_days'] = dataset['price'].rolling(window).max().shift(periods=1)
        gold_features_df['Min__'+str(window)+'_days'] = dataset['price'].rolling(window).min().shift(periods=1)
        gold_features_df['Min__'+str(window)+'_days'] = dataset['price'].rolling(window).sum().shift(periods=1)
        
    # get day of the week
    dataset['date'] = dataset.index
    dataset['day_of_week'] = dataset['date'].apply(lambda x: x.strftime("%A"))

    # get quarter
    dataset['month'] = dataset['date'].apply(lambda x: x.strftime("%B"))
    
    gold_features_df = pd.concat([gold_features_df, pd.get_dummies(dataset['day_of_week']), pd.get_dummies(dataset['month']), dataset['price'],  dataset['prev_close_price'],
                                     dataset['ch'], dataset['chp']],1)
    gold_features_df = gold_features_df.dropna()

    return gold_features_df

In [15]:
features_df = create_features_dataframe(preprocessed_gold_dataset)
features_df.head()

,Mean__5_days,Std__5_days,Max__5_days,Min__5_days,Mean__30_days,Std__30_days,Max__30_days,Min__30_days,Friday,Monday,...,June,March,May,November,October,September,price,prev_close_price,ch,chp
date,,,,,,,,,,,,,,,,,,,,,
2020-01-31,1429.62538,8.557498,1436.2358,7148.1269,1402.018903,18.761797,1436.2358,42060.5671,1,0,...,0,0,0,0,0,0,1430.3746,1429.9674,0.4072,0.0285
2020-02-01,1432.62826,3.350471,1436.2358,7163.1413,1404.507860,17.302033,1436.2358,42135.2358,0,0,...,0,0,0,0,0,0,1430.3746,1430.3746,0.0000,0.0000
2020-02-02,1431.45602,2.743015,1435.3476,7157.2801,1406.904247,15.602796,1436.2358,42207.1274,0,0,...,0,0,0,0,0,0,1430.3746,1430.3746,0.0000,0.0000
2020-02-03,1430.46142,1.671485,1432.9495,7152.3071,1408.310860,15.757572,1436.2358,42249.3258,0,1,...,0,0,0,0,0,0,1426.7576,1428.5650,-1.8073,-0.1267
2020-02-04,1430.16618,2.207691,1432.9495,7150.8309,1409.596907,15.631523,1436.2358,42287.9072,0,0,...,0,0,0,0,0,0,1422.1579,1429.0822,-6.9243,-0.4869

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor

X, y = features_df.drop('price', axis=1), features_df['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

#create the model
clf = MLPRegressor()
clf.fit(X_train, y_train)

MLPRegressor()

In [19]:
X_train

,Mean__5_days,Std__5_days,Max__5_days,Min__5_days,Mean__30_days,Std__30_days,Max__30_days,Min__30_days,Friday,Monday,...,July,June,March,May,November,October,September,prev_close_price,ch,chp
date,,,,,,,,,,,,,,,,,,,,,
2020-05-21,1603.39786,13.739461,1621.9535,8016.9893,1576.138920,22.842776,1621.9535,47284.1676,0,0,...,0,0,0,1,0,0,0,1590.9545,-15.6818,-0.9955
2020-07-02,1577.52912,11.449625,1595.8929,7887.6456,1541.627120,25.619305,1595.8929,46248.8136,0,0,...,1,0,0,0,0,0,0,1583.7321,-13.7781,-0.8776
2020-10-21,1622.12438,4.855324,1625.2449,8110.6219,1616.248897,11.212408,1638.1607,48487.4669,0,0,...,0,0,0,0,0,1,0,1608.4627,10.6311,0.6566
2020-07-25,1606.38044,21.891014,1631.5041,8031.9022,1586.071110,16.110871,1631.5041,47582.1333,0,0,...,1,0,0,0,0,0,0,1631.5041,0.0000,0.0000
2020-02-05,1428.00786,3.625933,1430.3746,7140.0393,1410.729630,15.252395,1436.2358,42321.8889,0,0,...,0,0,0,0,0,0,0,1425.3833,-17.2367,-1.2241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-08,1618.04946,9.006071,1625.2344,8090.2473,1626.218043,19.061750,1655.4048,48786.5413,0,0,...,0,0,0,0,0,1,0,1604.7599,2.8474,0.1771
2020-08-10,1736.01610,12.654445,1744.5206,8680.0805,1639.316327,54.518559,1744.5206,49179.4898,0,1,...,0,0,0,0,0,0,0,1752.5291,-26.5238,-1.5367
2020-05-27,1584.82250,8.460020,1588.8206,7924.1125,1575.537810,20.833552,1621.9535,47266.1343,0,0,...,0,0,0,1,0,0,0,1567.4188,-16.0131,-1.0322
2020-03-18,1396.01206,46.966352,1430.2504,6980.0603,1470.489060,45.394060,1555.1396,44114.6718,0,0,...,0,0,1,0,0,0,0,1346.5795,30.7756,2.2344
2020-07-21,1579.04284,1.955802,1581.3242,7895.2142,1578.546687,14.362901,1601.4101,47356.4006,0,0,...,1,0,0,0,0,0,0,1582.0152,11.2733,0.7075